<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>stylesheets/base.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Craving for home-made food. Enjoy a lot of recipes which be made at home. Create and share recipes with others too.">
    <meta property="og:title" content="athomerecipes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.athomerecipes.com/" />
    <meta property="og:image" content="../src/assets/recipe/pexels-klaus-nielsen-6287518.jpg" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="wrapper"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
