/* Theme colors */
$base-background: #f2f2f2;
$object-background: #bf2011;
$object-background-hover: #bd3b2f;
$highlight-background: #d9a273;
$border-color: #f2790f;
$seperator-color: #f2a30f;

/* Font colors*/
$button-font: #f2f2f2;
$article: #59514a;
$title: #59432f;
