<script>
import { isLoggedIn } from "./services/login";

export default {
  data() {
    return {
      loggedIn: false,
      showMenu: false,
    };
  },
  mounted() {
    this.isLoggedIn();
  },
  methods: {
    isLoggedIn() {
      this.loggedIn = isLoggedIn();
    },
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    skipToMain() {
      this.$refs.main.focus();
    },
    goHome() {
      this.$router.push("/");
    },
  },
};
</script>
<template>
  <header class="header">
    <!-- Skip to Main link -->
    <div class="skip-link-container">
      <a href="#main" class="skip-main" @click="skipToMain">Skip to Main</a>
    </div>
    <div class="menu-container">
      <button
        aria-expanded="true"
        aria-controls="navigation-menu"
        aria-label="Open navigation menu"
        class="menu-button"
        @click="toggleMenu"
      >
        <div class="menu-bar1"></div>
        <div class="menu-bar2"></div>
        <div class="menu-bar3"></div>
      </button>
    </div>
    <!-- Home button -->
    <button class="home-button" @click="goHome">athomerecipes</button>
    <!-- Profile actions -->
  </header>
  <nav v-if="showMenu" id="navigation-menu" class="navigation-menu">
    <ul>
      <li>
        <button
          aria-label="Go to home view"
          name="home"
          type="button"
          role="menuitem"
        >
          Home
        </button>
      </li>
      <li>
        <button
          aria-label="Go to my recipes"
          name="myrecipes"
          type="button"
          role="menuitem"
          v-if="loggedIn"
        >
          My recipes
        </button>
      </li>
      <li>
        <button
          aria-label="Invite people"
          name="invite"
          type="button"
          role="menuitem"
          v-if="loggedIn"
        >
          Invite
        </button>
      </li>
      <li>
        <button
          aria-label="Log in or sign up in the application"
          name="login"
          type="button"
          role="menuitem"
          v-if="!loggedIn"
        >
          Log in/Sign up
        </button>
      </li>
      <li>
        <button
          aria-label="Log out of the application"
          name="logout"
          type="button"
          role="menuitem"
          v-if="loggedIn"
        >
          Logout
        </button>
      </li>
    </ul>
  </nav>
  <!-- Main content area where data will be displayed -->
  <main ref="main" tabindex="-1" id="main" class="content">
    <!-- Load login component if cookie is not set -->
    <p>App body</p>
    <router-view></router-view>
  </main>
  <!-- Footer area -->
  <footer class="footer">
    <span>powered by Paneer</span>
  </footer>
</template>
<style lang="scss">
@import "@/assets/stylesheets/app.scss";
</style>
