@import "./utility/color.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .skip-main {
    height: 1.5rem;
    padding: 0.3rem;
    background-color: $highlight-background;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;

    &:focus {
      transform: translateY(0%);
    }
  }

  .header {
    flex-shrink: 0;
    background-color: $object-background;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
  }

  .footer {
    flex-shrink: 0;
    padding: 2rem;
    background-color: $highlight-background;
  }

  .content {
    flex: 1 0 auto;
    padding: 1rem 2rem;
  }

  .navigation-menu {
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: $base-background;
    height: 100%;
  }

  .menu-button {
    display: inline-block;

    .menu-bar1,
    .menu-bar2,
    .menu-bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
    }
  }
}
